header{
    font-family: map-get($tema, fuentetitulos);
    font-size: 1.5rem;
    nav{
        background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(13,110,253,1) 100%);
        .header__logo{
            width: $tamanonav;
            height: $tamanonav;
            filter: invert(1);
        }
                   
         
        @include movil {
            justify-content: center;
        }
        .dropdown:hover .dropdown-menu {
                    display: block;
                    margin-top: 0; 
        }   
    }                  
 
}
