header{
    font-family: 'koulen';
    font-size: 1.5rem;
    nav{
        .header__logo{
            width: 4rem;
            height: 4rem;
            filter: invert(1);
        }
        @include movil {
            justify-content: center;
        }
        ul{
            li{
                border-radius: 10%;
                a:hover{
                    color: rgba(153, 153, 161, 0.664);
                } 
            }
            li:hover{
                background-color: rgba(2, 2, 19, 0.288);
            }
        }
    }
}