@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    @include desktop {
        font-size: textdesktop;
    }
    @include tableth {
        font-size: texttableth;
    }
    @include tabletv {
        font-size: texttabletv;
    }
    @include movil {
        font-size: textmovil;
    }
}

