main{
    font-family: map-get($tema, fuentetitulos);
    margin-top: 6rem;
    .titulo__pagina{
        color: map-get($tema, colorfondo);
        background: map-get($tema, colortitulo);
        opacity: 0.7;
        text-align: center;
    }
}
