//MAIN para todo el SITIO

main{
    font-family: map-get($tema, fuentetitulos);
    margin-top: $margennav;
    .titulo__pagina{
        color: map-get($tema, colorsubtitulo);
        opacity: 0.7;
        text-align: center;
    }
    .subtitulo__pagina{
        @extend .titulo__pagina;
        margin-top: 3rem;
    }
    .subtitulo__seccion{
        @extend .titulo__pagina;
        margin-top: 0rem;
    }

}
