.hero{
    position: relative;
    &Titulo{
        position: absolute;
        left: 10px;
        bottom: 5rem;
        color: white;
        font-size: 5rem;
        font-weight: normal;
        @media screen and (max-width: 320px) {
            font-size: 3rem;
        }
    }
    &Subtitulo{
        position: absolute;
        left: 10px;
        bottom: 2.5rem;
        color: white;
        font-size: 3rem;
        font-weight: normal;
        @media screen and (max-width: 320px) {
            font-size: 1.5rem;
        }
    }
}